@model EmpCreateViewModel


<div class="w-100 m-1">
    <div class="d-flex justify-content-center">
        <form enctype="multipart/form-data" method="post" class="form m-3 p-4 col-md-6 border border-light shadow-sm">
            <h3 class="text-muted">Create an employee</h3>
            @*<div class="text-danger" asp-validation-summary="All"></div>*@
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department">Department</label>
                <select class="form-control" asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="Photo">Profile Photo</label>
                <div class="custom-file">
                    <input id="photoEl" class="form-control custom-file-input" asp-for="Photo" />
                    <label id="photoName" class="custom-file-label" for="photoEl">Choose photo..</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    @section Scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function (evt) {
                document.getElementById("photoEl").addEventListener("change", function () {
                    var fileName = this.value.split("\\").pop();
                    document.getElementById("photoName").innerHTML = fileName;
                });
            });
        </script>
    }
</div>