@model ForgotPassword

<div class="w-100 m-1">
    <div class="d-flex justify-content-center">
        <form method="post" class="form m-3 p-4 col-md-6 border border-light shadow-sm">
            <h3 class="text-muted">Forgot Password ?</h3>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <button type="submit" class="btn btn-primary">Send password reset link</button>
        </form>
    </div>
</div>
